[flake8]
max-line-length = 88
exclude =
    .venv,
    venv,
    venv_old_backup,
    .venv_old_backup,
    __pycache__,
    .git,
    migrations,
    outputs,
    assets,
per-file-ignores =
    video_builder.py: F811,E303,E305,E302,E712,E225,E231,E501,F824
    auto_short_full.py: E501
    short_maker.py: E501,E722
    test_*.py: E402
